DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DATABASE?schema=public"
PORT=3001
XENDIT_SECRET_KEY=
XENDIT_CALLBACK_TOKEN=
RAJAONGKIR_API_KEY=
RAJAONGKIR_ORIGIN_ID=
MIDTRANS_SERVER_KEY=
MIDTRANS_URL_SANDBOX=https://app.sandbox.midtrans.com

