DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DATABASE?schema=public"
PORT=3001
XENDIT_SECRET_KEY=
XENDIT_CALLBACK_TOKEN=
RAJAONGKIR_API_KEY=
RAJAONGKIR_ORIGIN_ID=31555
MIDTRANS_SERVER_KEY=
MIDTRANS_URL_SANDBOX=https://app.sandbox.midtrans.com

RAJAONGKIR_BASE_URL=https://rajaongkir.komerce.id/api/v1
RAJAONGKIR_COURIERS=jne:sicepat:ide:sap:jnt:ninja:tiki:lion:anteraja:pos:ncs:rex:rpx:sentral:star:wahana
